[Desktop Entry]
Name=Chromium (wayland)
Exec=chromium --enable-features=UseOzonePlatform --enable-gpu --ozone-platform=wayland %U
Terminal=false
Icon=chromium
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
