[Unit]
Description=Clipboard history manager
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=wl-paste --watch '%h/.local/libexec/clipboard-skip-or-store'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
