[Unit]
Description=Foot server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/foot --server
Restart=always
TimeoutStopSec=300

[Install]
WantedBy=graphical-session.target
