[Unit]
Description=Automatic monitor detectioon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/kanshi
Restart=on-failure

[Install]
WantedBy=graphical-session.target
