@define-color background  rgba(0,0,0,0.85);
@define-color foreground-br  #fff;
@define-color foreground  #8a8a8a;
@define-color foreground-dim  rgba(255,255,255,0.35);
@define-color bg-highlight #5F5F87;
@define-color bg-dim      rgba(255,255,255,0.15);
@define-color border      rgba(255,255,255,0.1);
@define-color text-bright rgba(255,255,255,1);
@define-color bg-orange   rgba(255,165,0,0.2);
@define-color text-orange rgba(255,165,0,1);
@define-color bg-blue     rgba(173,216,230,0.2);
@define-color text-blue   rgba(173,216,230,1);
@define-color bg-accent   #D7875F;
@define-color cyan-dim    #005f5f;

* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 9pt;
  min-height: 16px;
  transition: none;
}
tooltip {
  background: #000;
}
tooltip label {
  color: @foreground-br;
}

window.DP-1 *,
window.DP-2 *,
window.DP-1 tooltip,
window.DP-2 tooltip {
  font-size: 10pt;
}

window.eDP-1 * {
  font-size: 8.5pt;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#workspaces button {
  padding: 0 3pt;
  margin: 0;
  color: @foreground;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}
#workspaces button.visible {
  background: @bg-dim;
  color: @text-bright;
}
#workspaces button.focused {
  font-weight: bold;
  color: @text-bright;
  background: @cyan-dim;
  text-shadow: 1px 1px 0 black;
}
#window {
  padding: 0 8pt;
}

#taskbar button {
  padding: 0 6pt;
  color: @foreground;
}
#taskbar button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
  background: @bg-dim;
}
#taskbar button.active {
  color: @text-bright;
  background: @foreground-dim;
}

#workspaces button.urgent,
#battery.warning,
#pulseaudio.muted,
#cpu.warning,
#temperature.critical,
#custom-yadm,
#custom-dnd,
#custom-sspt.break,
#network.disconnected {
  color: @text-orange;
  /*  background: @bg-orange;
*/
}
#battery.critical {
  background: @bg-accent;
  color: black;
}

#mode {
  font-weight: bold;
  color: #000000;
  background: @text-orange;
}

#custom-recording,
#idle_inhibitor.activated {
  color: @text-orange;
  background: @bg-orange;
  font-weight: bold;
}

#custom-vpn.connected,
#custom-bluetooth,
#custom-tailscale.connected,
#custom-xbps,
#custom-pacman,
#custom-scratchpad,
#custom-khal.event,
#custom-mail,
#custom-sspt.active,
#battery.charging {
  color: @text-blue;
  background: transparent;
}

#pulseaudio,
#custom-scratchpad,
#custom-progress,
#custom-xbps,
#custom-pacman,
#custom-yadm,
#custom-khal,
#custom-mail,
#custom-vpn,
#custom-media,
#custom-weather,
#custom-tailscale,
#custom-recording,
#custom-bluetooth,
#custom-sspt,
#custom-eyestrain,
#custom-dnd,
#network,
#bluetooth,
#idle_inhibitor,
#cpu,
#temperature,
#memory,
#backlight,
#taskbar,
#battery,
#language,
#temperature,
#clock,
#tray {
  padding: 0 8pt;
}
